body {
    background-color: #022626;
}

#container {
    background-color: #f0f0f2;
    width: 950px;
    margin: 20px auto;
    border: 4px solid #591f12;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    color: #591f12;
    font-size: 30px;
}

nav {
    text-align: center;
    border-top: 4px solid #591f12;
    border-bottom: 4px solid #591f12;
    padding: 20px 0;
}

nav a {
    color: #591f12;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover {
    color: #022626;
    text-decoration: none;
}

main {
    margin: 20px auto;
    border: 4px solid #591f12;
    padding: 20px;
    border-radius: 20px;
}

main h2 {
    color: #591f12;
    text-align: center;
}

main img {
display: block;
margin: 20px auto;
width: 600px;
}

footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid #591f12
}