body {
    background-color: tan;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

a {
    color: darkgrey;
}

a:hover {
    color: white;
    text-decoration: none;
}

#container {
    background-color: lightslategray;
    width: 80%;
    margin: 20px auto;
    border: 4px solid wheat;
    padding: 20px;
    border-radius: 10px;
}

header {
    color: darkgray;
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid;
}

header h1 {
    font-size: 50px;
    color:beige;
    text-shadow: 2px 2px 2px blue;
}

nav {
    text-align: center;
    border-bottom: 2px solid;
    color: darkgray;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: blue;
    color: yellowgreen;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid;
}

nav li a:hover {
    color:aqua;
    background-color: brown;
}

main h2 {
    text-align: center;
    color:white;
}

.multi_col {
    display: flex;
}

section, aside {
    border-radius: 10px;
    border: 1px solid;
    margin: 20px;
    padding: 20px;
}

section {
    width: 75%;
}

section img {
    border-radius: 10px;
    border: 1px solid;
    width: 75%;
}

footer {
    padding: 40px;
    text-align: center;
}

.img_style {
    width: 75%;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border: 2px solid;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    border: 5px solid;
}

.info {
    text-align: center;
}